<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
    <server>
      <id>ssh-repository</id>
      <username>scolebourne</username>
      <!--privateKey>/path/to/your/private/key</privateKey-->
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
      <configuration>
        <sshExecutable>plink</sshExecutable>
        <scpExecutable>pscp</scpExecutable>
        <!--sshArgs>other arguments you may need</sshArgs-->
      </configuration>
    </server>
  </servers>
</settings>